* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #434343;
    background-image:linear-gradient(#282828, #434343);
}

main {
    justify-content: center;
    height: 80vh;
    align-items: center;
}

.flex {
    display: flex;
}

table {
    border-collapse: collapse;
}
th {
    background: thistle;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

tr:nth-child(even) {
    background: #139bb3;
}

tr:hover {
    background: rgb(143, 143, 143);
}

tbody {
    background-color: rgba(143, 143, 143, 0.788);
}

.action {
    justify-content: center;
    align-items: center;
}

.action input {
    height: 16px;
    width: 23px;
}

td {
    height: 25px;
}

form {
    justify-content: center;
    align-items: center;
    display: flex;
}